body {
    background-color: #BCBEC5;
    padding: 0%;
    margin: 0%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 8vh;
}

h2 {
    text-align: center;
    color: #373D51;
    font-size: 5vh;
}

h3 {
    text-align: center;
    color: white;
    font-size: 5vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header {
    margin-bottom: 0;
    background-color: #373D51;
    height: 300px;   
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    background-color: white;
    padding: 3vh;
}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 70%;
    text-align: center;
    background-color: #373D51;
    color: #BCBEC5;
    padding: 3vh;
    padding-bottom: 50vh;
    padding-top: 0vh;
}

.button {
    background-color: #BCBEC5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }