<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript">
  </script>
</head>
<body>
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/postUser" method="post">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <label for="email"><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" id="first_name" required>
          </div>
          <div class="col-sm-6">
            <label for="email"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" id="last_name" required>
          </div>
        </div>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" id="email" required>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" name="action" value="Sign Up/Sign In" />
      </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                         
      </button>
      <a class="navbar-brand" href="/">Pannell Construction</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li class="active"><a href="#">Reviews</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#" data-toggle="modal" data-target="#signUpModal">Sign Up/Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class='jobs'>
  <div class='jobs'>
    <h1>Customer Reviews</h1>
    <div id="results">
      <!-- Loop through results and display them -->
      echo "<hr><p>$review</p>";
      echo "<h3>- $fname $lname</h3>";
      <% for(var i=0; i<result.length; i++) {%>
          <hr>
          <p> <%= result[i].review_text %> </p>
          <h3> <%= result[i].user_app_id %> </h3>
      <% }%>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-sm-4">
      <p>Email - pannel@construction.com</p>
    </div>
    <div class="col-sm-4">
      <p>Phone - 555-555-5555</p>
    </div>
    <div class="col-sm-4">
      <p>Address - 123 N 456 S Rexburg, ID 83440</p>
    </div>
  </div>
</footer>

</body>
</html>